<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Custom suite" verbose="1" thread-count="1" parallel="tests" configfailurepolicy="continue">
  <!-- <listeners>
        <listener class-name="com.cucumber.testng.utility.TestNGExecutionListener"></listener>
    </listeners> -->
    <test name="Compare API and UI results for GoogleMaps" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.cucumber.testng.combination.ExecuteTest"/>
        </classes>
     </test> 
</suite>